
@mixin heading {
  font-style: normal;
  font-family: 'Stratos LC Bold', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.heading_1 {
  @include heading;
  font-weight: 1000;
  font-size: 224px;
  line-height: 100%;
}

.heading_2 {
  @include heading;
  font-size: 176px;
  line-height: 100%;
}

.heading_3 {
  @include heading;
  font-size: 72px;
  line-height: 100%;
}

.heading_4 {
  @include heading;
  font-size: 48px;
  line-height: 100%;
}

.heading_5 {
  @include heading;
  font-size: 32px;
  line-height: 100%;
}

.heading_6 {
  @include heading;
  font-size: 24px;
  line-height: 100%;
}

.caption_1 {
  font-family: 'Stratos LC Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.subheader_1 {
  font-family: 'Stratos LC Bold', sans-serif;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
}

.subheader_2 {
  font-family: 'Stratos LC Bold', sans-serif;
  font-size: 16px;
  line-height: 105%;
}

.lead {
  font-family: 'Stratos LC Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 135%;
}

.body {
  font-family: 'Stratos LC Regular', sans-serif;
  font-size: 16px;
  line-height: 135%;
}

.body_2 {
  font-family: 'Stratos LC Regular', sans-serif;
  font-size: 14px;
  line-height: 135%;
}


.body_3 {
  font-family: 'Stratos LC Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
}