@mixin heading_mixin {
  font-style: normal;
  font-family: 'Stratos LC Bold', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.heading_1 {
  @include heading_mixin;
  font-weight: 1000;
  font-size: 224px;
  line-height: 100%;
}

.heading_2 {
  @include heading_mixin;
  font-size: 176px;
  line-height: 100%;
}

.heading_3 {
  @include heading_mixin;
  font-size: 72px;
  line-height: 100%;
}

.heading_4 {
  @include heading_mixin;
  font-size: 48px;
  line-height: 100%;
}

.heading_5 {
  @include heading_mixin;
  @extend .adaptive_32px;
  line-height: 100%;
}

.heading_6 {
  @include heading_mixin;
  font-size: 24px;
  line-height: 100%;
}


.caption_1 {
  font-family: 'Stratos LC Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  @extend .adaptive_16px;
  line-height: 100%;
}

.subheader_1 {
  font-family: 'Stratos LC Bold', sans-serif;
  @extend .adaptive_32px;
  line-height: 110%;
  text-align: center;
}

.subheader_2 {
  font-family: 'Stratos LC Bold', sans-serif;
  @extend .adaptive_16px;
  line-height: 105%;
}

.lead {
  font-family: 'Stratos LC Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  @extend .adaptive_32px;
  line-height: 135%;
}


@mixin body_mixin {
  font-family: 'Stratos LC Regular', sans-serif;
  line-height: 135%;
}

.body {
  @include body_mixin;
  @extend .adaptive_16px;
}

.body_2 {
  @include body_mixin;
  @extend .adaptive_14px;
}


.body_3 {
  @include body_mixin;
  font-weight: 400;
  @extend .adaptive_14px;
}

.lead_1 {
  font-family: 'Stratos LC Regular', sans-serif;
  font-style: normal;
  font-weight: 400;
  @extend .adaptive_32px;
  line-height: 135%;
}


.adaptive_14px {
  font-size: 14px;

  @media screen and (max-width: $notebook) {
    font-size: 13px;
  }
  @media screen and (max-width: $tablet_start) {
    font-size: 13.5px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 12px;
  }
}

.adaptive_16px {
  font-size: 16px;

  @media screen and (max-width: $notebook) {
    font-size: 15px;
  }
  @media screen and (max-width: $tablet_start) {
    font-size: 14.5px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 14px;
  }
}

.adaptive_32px {
  font-size: 32px;

  @media screen and (max-width: $notebook) {
    font-size: 30px;
  }
  @media screen and (max-width: $tablet_start) {
    font-size: 29px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 28px;
  }
}