@import './fonts.scss';
@import './headings.scss';
@import './transitions.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Stratos LC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
  min-width: 320px;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: overlay;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, .4);
}

.uppercase {
  text-transform: uppercase;
}

button, a {
  cursor: pointer;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.non-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.standard-input {
  display: block;
  width: 100%;
  max-width: 400px;
  border: 1px solid rgba ($GREEN, .60);
  color: rgba ($GREEN, .60);
  height: 48px;
  border-radius: 2px;
  padding: 14px 24px 12px;
  transition: $TRANSITION;
  outline: none;

  &::placeholder {
    color: rgba ($GREEN, .60);
  }

  &:disabled {
    &::placeholder {
      color: rgba ($GREEN, .30);
    }

    color: rgba ($GREEN, .30);
    border-color: rgba ($GREEN, .30);
  }

  &:not(&:disabled):hover {
    border-color: rgba ($GREEN, .75);
    color: rgba ($GREEN, .75);
  }

  &:not(&:disabled):focus {
    border: 1.5px solid $GREEN;
    color: $GREEN;
  }
}

.wrapper-padding {
  padding: 0 100px;
  @media screen and (max-width: $notebook_start) {
    padding: 0 calc((100vw - $notebook) / 8.32 + 50px);
  }
  @media screen and (max-width: $notebook) {
    padding: 0 calc((100vw - $tablet) / 8.32 + 20px);
  }
  @media screen and (max-width: $tablet) {
    padding: 0 20px;
  }
}

.wrapper-maxwidth {
  width:100%;
  max-width: $notebook_start;
}

.container-maxwidth {
  max-width: $maxwidth;
}
