@import './fonts.scss';
@import './headings.scss';
* {
  box-sizing: border-box;
}

body {
  font-family: 'Stratos LC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;;
  overflow-y: overlay;
}

.page{
  margin: 0 100px;
  border: 1px solid black;
}

.uppercase{
  text-transform: uppercase;
}


button, a {
  cursor: pointer;
}
