@import './fonts.scss';
@import './headings.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Stratos LC', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;;
  overflow-y: overlay;
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (max-width: 1440px) {
    padding: 0 50px;
  }
  $notebook_start: 1440px;
  $notebook: 1024px;
  $tablet_start: 992px;
  $tablet: 768px;
  $tablet_end: 620px;
  $phone_start: 550px;
  $phone: 425px;
  $phone_end: 375px;
}

.page {
  border: 1px solid black;
}

.uppercase {
  text-transform: uppercase;
}

button, a {
  cursor: pointer;
}
