.opacity-transition {
  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: .3s;
  }
}

.modals-transition {
  &-enter-from, &-leave-to {
    opacity: 0;
  }

  &-enter-active,
  &-leave-active {
    transition: 0.2s;
  }
}