$IVORY_100: #F8F8F4;
$IVORY_95: #ECECE8;
$IVORY_80: #E2E2DB;
$IVORY_50:  rgba(248, 248, 244, 0.5);
$IVORY_60: rgba(248, 248, 244, 0.6);
$IVORY_30: rgba(248, 248, 244, 0.3);

$BLACK_100: #000000;
$BLACK_75: #404040;
$BLACK_60: #666666;
$BLACK_30: #B3B3B3;

$BRIGHT_GREEN_GRADIENT: linear-gradient(180deg, rgba(45, 171, 73, 0) 0%, #2DAB49 100%);
$BRIGHT_GREEN_100: rgba(45, 171, 73, 0.75);
$BRIGHT_GREEN_75: rgba(45, 171, 73, 0.75);
$BRIGHT_GREEN_60: rgba(45, 171, 73, 0.6);
$BRIGHT_GREEN_30: rgba(45, 171, 73, 0.3);

$TRANSITION: .3s;